<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mind & Soul</title>

  <!-- font awesome cdn link  -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <a href="https://www.vecteezy.com/free-vector/counselor">Counselor Vectors by Vecteezy</a>
  <a href="https://www.vecteezy.com/free-vector/chatting">Chatting Vectors by Vecteezy</a>
  <!-- custom css file link  -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="icon/favicon.ico">
</head>

<header>
  <div class="logogambar">
    <div class="logogambar1">
      <img src="icon\favicon-32x32.png" alt="">
    </div>
    <a href="#" class="logo"><span>Mind</span>&Soul</a>
  </div>

  <input type="checkbox" id="menu-bar">
  <label for="menu-bar" class="fas fa-bars"></label>

  <nav class="navbar">
    <a href="#home">home</a>
    <a href="booking">Konsultasi</a>
    <a href="#about">Chat User</a>
    <a href="login">Login</a>
    <a href="profile">Profile</a>



  </nav>

</header>

<body>


  <div class="containerharga">
    <div class="panel pricing-table">

      <div class="pricing-plan">
        <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Paket 1</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">Via Google Meet</li>
          <li class="pricing-features-item">1 jam</li>
        </ul>
        <span class="pricing-price">Rp.100.000</span>
        <a href="#/" class="pricing-button">Pilih Paket</a>
      </div>

      <div class="pricing-plan">
        <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Paket 2</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">Via Google Meet dan Chat</li>
          <li class="pricing-features-item">1 Jam</li>
        </ul>
        <span class="pricing-price">Rp.149.900</span>
        <a href="#/" class="pricing-button is-featured">Pilih Paket</a>
      </div>

      <div class="pricing-plan">
        <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Paket 3</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">Via Google Meet dan Chat secara berkala</li>
          <li class="pricing-features-item">1 Jam 30 Menit</li>
        </ul>
        <span class="pricing-price">Rp.200.000</span>
        <a href="#/" class="pricing-button">Pilih Paket</a>
      </div>

    </div>
  </div>


</body>
