@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

html {
  scroll-behavior: smooth;
}

<body>scroll-behavior: smooth;

:root {
  --purple: #3A5257;
  --pink: #384A5C;
  --gradient: linear-gradient(90deg, var(--purple), var(--pink));
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  box-sizing: border-box;
}

*::selection {
  background: var(--pink);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #E0FCFF;
}

section {
  min-height: 50vh;
  padding: 0 9%;
  padding-top: 7.5rem;
  padding-bottom: 5rem;
}

.btnKonsultasi {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: 5rem;
  background-color: #90F2FF;
  font-size: 1.7rem;
  color: black;
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  transition: all .3s linear;
}

.btnKonsultasi:hover {
  transform: scale(1.1);
}

.btnChat {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: 5rem;
  background-color: #90F2FF;
  font-size: 1.7rem;
  color: black;
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  transition: all .3s linear;
}

.btnChat:hover {
  transform: scale(1.1);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logogambar .logo {
  font-size: 2rem;
  color: var(--purple);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 15%;
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, -50%);
}

header .logogambar .logogambar1 {
  font-size: 2rem;
  color: var(--purple);
  position: absolute;
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, -50%);
  margin-left: 20px;
}

header .logo span {
  color: var(--pink);
}

header .navbar a {
  font-size: 1.7rem;
  margin-left: 2rem;
  color: var(--purple);
}

header .navbar a:hover {
  color: var(--pink);
}

header input {
  display: none;
}

header label {
  font-size: 3rem;
  color: var(--purple);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -50px;
  background-size: cover;
  background-position: center;
}

.home .image img {
  width: 50vw;
  margin-left: 20px;
}

.home .content h3 {
  font-size: 5.5rem;
  color: #000000;
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--pink);
  text-transform: uppercase;
}

.home .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

.home1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -50px;
  background-size: cover;
  background-position: center;
}

.home1 .image1 img {
  width: 50vw;
  float: left;
}

.home1 .content1 {}

.home1 .content1 h3 {
  font-size: 5.5rem;
  color: #333;
  text-transform: uppercase;
  float: right;
}

.home1 .content1 h3 span {
  color: var(--pink);
  text-transform: uppercase;
}

.home1 .content1 p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

@media (max-width:768px) {
  header {
    justify-content: space-between;
  }

  header label {
    visibility: visible;
    opacity: 1;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 1rem 2rem;
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: .2s linear;
  }

  header .navbar a {
    display: block;
    margin: 2rem 0;
    font-size: 2rem;
  }

  header .logogambar1 {
    visibility: hidden;
  }

  header input:checked~.navbar {
    transform: scaleY(1);
    opacity: 1;
  }

  header input:checked~label::before {
    content: '\f00d';
  }

  .home {
    flex-flow: column-reverse;
    margin-right: 0px;
  }

  .home .image img {
    width: 100%;
  }

  .home .content {}

  .home .content h3 {
    font-size: 3.6rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }

  .home1 {
    flex-flow: column-reverse;
    margin-right: 0px;
  }

  .home1 .image1 img {
    width: 100%;
    margin: 0px;
  }

  .home1 .content1 h3 {
    font-size: 3.6rem;
  }

  .home1 .content1 p {
    font-size: 1.5rem;
  }

  .home .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home1 .btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}




@media (max-width:450px) {
  html {
    font-size: 50%;
  }

}

/*login*/
.createaccount h1 {
	font-weight: bold;
	margin: 0;
}



.overlay-panel overlay-left p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.form-container_sign-up-container span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #3A5257;
	background-color: #E0FCFF;
	color: #3A5257;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #E0FCFF;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;

  margin-left: 400px;
  margin-top:100px
}


.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #fff;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #E0FCFF, #E0FCFF);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #3A5257;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

@media (max-width:768px) {
  .container {
    display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
    height: 100vh;
    margin: -20px 0 100px;
  }
   }

   @media (max-width:961px) {
     .container {
       display: flex;
     	justify-content: center;
     	align-items: center;
     	flex-direction: column;
       height: 100vh;
       margin: -20px 0 100px;
     }
      }
      @media (max-width:1025px) {
        .container {
          display: flex;
        	justify-content: center;
        	align-items: center;
        	flex-direction: column;
          height: 100vh;
          margin: -20px 0 100px;
        }
         }
         @media (max-width:1281px) {
           .container {
             display: flex;
           	justify-content: center;
           	align-items: center;
           	flex-direction: column;
             height: 100vh;
             margin: -20px 0 100px;
           }
            }
   /* Profile user */
.containerprofile{
  position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
  margin-left: 400px;
  margin-top:100px
}
   .form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
@media (max-width:768px) {
  .containerprofile {
    display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
    height: 100vh;
    margin: -20px 0 100px;

  }
   }

   @media (max-width:1025px) {
     .containerprofile {
       display: flex;
     	justify-content: center;
     	align-items: center;
     	flex-direction: column;
       height: 100vh;
       margin: -20px 0 100px;

     }
      }



   /* booking */


.card {
    margin: 60px auto;
    border: none !important;
    width: 450px
}

@media screen and (max-width: 768px) {
    .card {
        width: 350px
    }
}

.card-strip {
    border-bottom: 1px solid lightgray;
    padding-top: 20px;
    padding-bottom: 20px
}

.right img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer
}

.sm-text {
    font-size: 15px
}

.fa {
    font-size: 30px;
    padding: 10px
}

.fa-comment-o {
    color: gray;
    cursor: pointer
}

.fa-phone {
    color: #1E88E5;
    padding-left: 20px;
    cursor: pointer
}

.time {
    border: 1px lightgray solid;
    border-radius: 5px;
    font-weight: bold;
    padding: 1px 8px;
    margin: 0px 6px
}

.price {
    font-size: 20px
}

.text-muted {
    color: #BDBDBD !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.btn  {
    width: 48%;
    height: 55px;
    margin: 30px 150px;
    font-weight: bold;
    letter-spacing: 1px;

}

.btnTerima {
    background-color:#E0FCFF;
    color: #000;
    border: 1px gray solid;

}

.btnTerima:hover {
    background-color: lightgray;
    color: #eeee
}


/* hargapaket-------------------------------------------------------------------------------------------------------------------*/
html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}




@media (min-width: 900px) {
  .background {
    padding: 0 0 25px;
  }
}

.containerharga {
  margin:auto ;
  padding: 50px 0 0;
  max-width: 960px;
  width: 100%;
  position: relative;
  top: 50px;
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color: #016FF9;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: #016FF9;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348EFE;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #48aaff;
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #269aff;
}

@media (max-width:768px) {
  .containerharga {

      padding: 0 0 25px;
      top:0;

  }
   }

   @media (max-width:1025px) {
     .containerharga {

         padding: 0 0 25px;

     }
      }
